


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    

}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    
    background-size: cover;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.header h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.header p {
    font-size: 20px;
    margin-top: 10px;
}


.main {
    display: flex;
    flex: 1;
    padding: 20px;
}

.sidebar {
    flex: 1;
    background-color: rgb(167, 199, 231); 
    padding: 20px;
    color: white;
    border-radius: 10px;
    
}

.sidebar h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar li a {
    text-decoration: none;
    color: white;
    font-size: 45px;
    font-family: Verdana, sans-serif;
    transition: color 0.3s ease;
}

.sidebar li a:hover {
    color: brown; 
}


.content {
    flex: 3;
    background-color:lightcoral;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color:dodgerblue;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item:hover img {
    opacity: 0.8;
}


.footer {
    background-color:cornflowerblue;
    color: black;
    text-align: center;
    padding: 40px;
    font-size: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 30px;
}
