

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;

}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.header {
   
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 20px;
}

.header p {
    margin: 5px 0 0;
    font-size: 20px;
}


.main {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 20px;
}


.sidebar {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #ffeedb;
    font-weight: bold;
}


.content {
    flex: 3;
    background-color: rgb(173, 216, 230);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 20px;
    margin-bottom: 20px;
}


.destination-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.destination-item {
    background-color:rgb(255, 182, 193);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}



.destination-item img {
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 8px; 
}


.destination-item h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #333;
}

.destination-item p {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
}


.destination-item:nth-child(1) {
    grid-column: span 2; 
}

.destination-item:nth-child(2) {
    grid-row: span 2;
}


.footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(189, 252, 201);
    color: black;
    font-size: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}